<td colspan="3" class="text-left">
    <div class="d-block d-md-none mt-3">
        <a href="{% url 'products' %}" class="btn button-black-border rounded-0 btn-lg w-100">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
    <div class="d-none d-md-block">
        <a href="{% url 'products' %}" class="btn button-black-border rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
</td>
<td colspan="3" class="text-right">
    <div class="d-block d-md-none my-3">
        <a href="{% url 'checkout' %}" class="btn button-black rounded-0 btn-lg w-100">
            <span class="text-uppercase">Secure Checkout</span>
        </a>
    </div>
    <div class="d-none d-md-block">
        <a href="{% url 'checkout' %}" class="btn button-black rounded-0 btn-lg">
            <span class="text-uppercase">Secure Checkout</span>
        </a>
    </div>
</td>