{% extends "base.html" %}
{% load static %}


{% block extra_meta %}
    <meta name="keywords" content="Culture, Clothing, Fashion, Music">
    <meta name="description" content="Latest trends in clothing for women, men & kids at Culture online. Find the look for you.">
{% endblock %}

{% block extra_title %}| All New Collection{% endblock %}

<!-- Header container and preloader -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Subscribe section -->
{% block subscribe %}
    {% include 'subscribe/subscribe.html' %}
{% endblock %}

{% block content %}
<!-- Hero -->
<div id="hero" class="container-fluid text-center">
    <div class="row mh-25">
        <div class="col-12 mh-25">
            <h1 class="d-flex d-md-none hero-text h-100 text-uppercase">We Are Culture</h1>
            <h1 class="d-none d-md-flex hero-text h-100 text-uppercase">
                We Are 
                <span class="pl-3 pl-xl-4 typing-text" data-period="800" data-rotate='[ " fashion", " music", " culture" ]'></span>
            </h1>
            <div class="col-12 mh-25">
                <a href="{% url 'products' %}" class="btn button-white h-100">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<div id="about" class="container py-5 mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-accent">Bringing you the latest on trend styles from your favourite brands.<br>
                Our collections are constantly evolving to bring you sustainable, high quality urban wear.</h3>
        </div>
    </div>
</div>

<!-- Categories -->
<div id="features" class="container py-5">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="parent position-relative mb-3 mb-sm-0">
                <div id="feature-1" class="child"></div>
                <a href="{% url 'products' %}" class="features-title">Shop Collection</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 p-0">
            <div class="col-12 pb-0 pb-sm-4">
                <div class="parent position-relative mb-3 mb-sm-0">
                    <div id="feature-2" class="child"></div>
                    <a href="{% url 'products' %}?category=w_tees,w_tops,w_bottoms,w_footwear,w_accessories" class="features-title">Shop Womens</a>
                </div>
            </div>
            <div class="col-12 pt-0 pt-sm-1">
                <div class="parent position-relative mb-3 mb-sm-0">
                    <div id="feature-3" class="child"></div>
                    <a href="{% url 'products' %}?category=m_tees,m_tops,m_bottoms,m_footwear,m_accessories" class="features-title">Shop Mens</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Featured items cards -->
{% block featured %}
    {% include 'includes/featured.html' %}
{% endblock %}

<!-- Icon info section-->
{% block iconinfo %}
    {% include 'includes/icon-info.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/typing_text.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
{% endblock %}