{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block subscribe %}
    {% include 'includes/subscribe.html' %}
{% endblock %}

{% block content %}

<!-- Hero -->
<div id="hero" class="container-fluid text-center">
    <div class="row mh-25">
        <div class="col-12 mh-25">
            <a href="{% url 'products' %}?category=m_tees,m_tops,m_bottoms,m_footwear,m_accessories,w_tees,w_tops,w_bottoms,w_footwear,w_accessories" class="btn button-white h-100">SHOP NOW</a>
        </div>
    </div>
</div>

<!-- About -->
<div id="about" class="container py-5 mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-accent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed fermentum nibh,
                vel aliquet massa. Etiam in magna id risus lacinia luctus eget eu est.</h3>
        </div>
    </div>
</div>

<!-- Categories -->
<div id="features" class="container py-5">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="parent position-relative mb-3 mb-sm-0">
                <div id="feature-1" class="child"></div>
                <a href="#" class="features-title">Top Picks</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 p-0">
            <div class="col-12 pb-0 pb-sm-4">
                <div class="parent position-relative mb-3 mb-sm-0">
                    <div id="feature-2" class="child"></div>
                    <a href="#" class="features-title">Top Picks</a>
                </div>
            </div>
            <div class="col-12 pt-0 pt-sm-1">
                <div class="parent position-relative mb-3 mb-sm-0">
                    <div id="feature-3" class="child"></div>
                    <a href="#" class="features-title">Top Picks</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block iconinfo %}
    {% include 'includes/icon-info.html' %}
{% endblock %}