{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}| Order Placed{% endblock %}

<!-- Header Container -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Checkout confirmation -->
{% block content %}
<div class="container-fluid mb-2 py-4">
    
    <!-- Category/page header -->
    <div class="row">
        <div id="category-header" class="col text-center py-5">
            <h1 class="pt-4 pb-2 letter-space text-white">Thank You</h1>
            <p class="text-white">Your order information is below. A confirmation email will be sent to<br> <strong class="text-accent">{{ order.email }}</strong></p>
        </div>
    </div>
    
    <!-- Order information -->
    <div class="row mt-5">
        <div class="col-10 offset-1">
            <div class="col-12 col-xl-8 offset-xl-2">
                <div class="px-5 pt-5 pb-3 border-0 shadow">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted lead">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <h6 class="mb-0 overflow-auto">{{ order.order_number }}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <small class="text-muted lead">Order Details:</small>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <p class="mb-0 text-black font-weight-bold">
                                {{ item.product.name }}{% if item.product_size %} - Size: <span class="small">{{ item.product_size|upper }}</span>{% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-md-7 text-md-right">
                            <p class="mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row mt-3">
                        <div class="col">
                            <small class="text-muted lead">Delivering To:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <small class="text-muted lead">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">€{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">€{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">€{{ order.grand_total }}</p>
                        </div>
                    </div>
                    <div class="text-center col-12 w-100 p-0 mt-3 mb-2">
                        {% if from_profile %}
                            <a href="{% url 'profile' %}" class="btn w-100 button-black rounded-0 my-2">
                                <span class="text-uppercase">Back to profile</span>
                            </a>
                        {% else %}
                            <a href="{% url 'products' %}" class="btn w-100 button-black rounded-0 my-2">
                                <span class="text-uppercase">Back to shop</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Subscription Section -->
{% block subscribe %}
    {% include 'subscribe/subscribe.html' %}
{% endblock %}