@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;600&family=Roboto+Mono&family=Work+Sans:wght@300;400;500&display=swap');

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    background-color: white;
    color: black;
}

h1,
h2,
h3 {
    font-family: 'Fahkwang', sans-serif;
    font-weight: 600;
}

p {
    font-size: 1.2em;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

/*--------------------------------------------------------------------- Colours */

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}


/*--------------------------------------------------------------------- Nav */

.navbar {
    background-color: white !important;
}

.dropdown-menu-full {
    width: 100% !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.navbar-nav {
    width: 100%;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.navbar-nav>li {
    flex-grow: 1;
}

.navbar-nav .nav-link {
    font-size: .9em;
}

/* Remove focus from hamburger */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler,
.navbar-toggler {
    border: none;
}

.navbar-brand {
    max-width: 250px;
}

#search-modal {
    font-family: 'Work Sans', sans-serif;
}

#search-modal .display-3 {
    font-size: 5em;
    font-weight: 900;
    -webkit-text-stroke: 1.5px black;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.form-control:focus {
    border-color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
    background-color: black;
    color: black;
    /* font-size: 1.2em; */

}

.form-control:enabled {
    background-color: transparent;
    font-size: 1.2em;
}

.modal-backdrop.show {
    background-color: white !important;
    opacity: .9 !important;
}

.form-control {
    border-bottom: 2px solid black;
}

/* Scroll animation https://codepen.io/Murtaxa/pen/egrRbN */
.scroll-left {
    height: 75px;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.scroll-left p {
    position: absolute;
    width: 150%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 20s linear infinite;
    -webkit-animation: scroll-left 20s linear infinite;
    animation: scroll-left 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(-10%);
    }

    100% {
        -moz-transform: translateX(-50%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(-10%);
    }

    100% {
        -webkit-transform: translateX(-50%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(-10%);
        /* Browser bug fix */
        -webkit-transform: translateX(-10%);
        /* Browser bug fix */
        transform: translateX(-10%);
    }

    100% {
        -moz-transform: translateX(-50%);
        /* Browser bug fix */
        -webkit-transform: translateX(-50%);
        /* Browser bug fix */
        transform: translateX(-50%);
    }
}

.all-products a {
    font-size: 1.5em;
    color: white;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: white;
    text-decoration: none;
    background-color: black;
}

#bumpber {
    padding-top: 2px;
}

#bumpber a:hover {
    color: blueviolet !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    background: black;
    z-index: 999;
    border-radius: 50%;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*--------------------------------------------------------------------- Special paddings/margins/text */

.letter-space {
    letter-spacing: 1.5px;
}

.text-accent {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 170%;
}

.text-main {
    font-family: 'Fahkwang', sans-serif;
    letter-spacing: 1px;
}

.product-page-price {
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 1px;
}

.letter-space-animate:hover {
    letter-spacing: .3em;
}

tr > td:last-of-type,
tr > th:last-of-type {
    text-align: right;
}

/*--------------------------------------------------------------------- Image / Adjustments */

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border-left: 65px solid white;
    border-right: 65px solid white;
    background-image: url('/media/club.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

#feature-1 {
    height: 600px;
    background-image: url(/media/555x555px.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#feature-2 {
    height: 285px;
    background-image: url(/media/540x290px.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#feature-3 {
    height: 287px;
    background-image: url(/media/540x290px-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#features a {
    color: white;
    transition-duration: .2s;
}

#features a:hover {
    color: white;
    letter-spacing: 3px;
}

.parent {
    overflow: hidden;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;
}

.parent:hover .child,
.parent:focus .child {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.features-title {
    display: block;
    color: white;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: left;
    margin: auto;
    position: absolute;
    text-decoration: none;
    top: 20px;
    left: 20px;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.features-title:hover {
    text-decoration: none;
}

.blur:hover {
    -webkit-filter: blur(5px);
    /* Chrome, Safari, Opera */
    filter: blur(5px);
}

.logo-mobile {
    max-width: 70%;
}

.credit-cards {
    max-width: 250px;
}

#category-header {
    background-image: url('/media/film-strip.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 220px;
}

/*--------------------------------------------------------------------- Buttons */

.button-white {
    background-color: white;
    color: black;
    border: 2px solid white;
    font-size: 1rem;
    border-radius: 0;
    padding: 15px 40px 15px 40px;
    letter-spacing: 2px;
}

.button-white:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 1rem;
    padding: 15px 40px 15px 40px;
}

.button-black {
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 1rem;
    border-radius: 0;
    padding: 15px 40px 15px 40px;
    letter-spacing: 2px;
}

.button-black:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 1rem;
    padding: 15px 40px 15px 40px;
}

.button-black-border {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 1rem;
    border-radius: 0;
    padding: 15px 40px 15px 40px;
    letter-spacing: 2px;
}

.button-black-border:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 1rem;
    padding: 15px 40px 15px 40px;
}

.quantity-black-border {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 1rem;
    border-radius: 0;
    padding: 15px 10px 15px 10px;
    letter-spacing: 2px;
    min-height: 60px;
    max-width: 100px;
}

.qty-btn-black {
    background: black;
    color: white;
}

.qty-btn-black:hover,
.qty-btn-black:active,
.qty-btn-black:focus {
    background: #222;
    color: white;
}


.size-black-border {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 1rem;
    border-radius: 0;
    padding: 15px 10px 15px 10px;
    letter-spacing: 2px;
    min-height: 60px;
    max-width: 420px;
    margin-right: 20px;
}

.badge:hover {
    background-color: white;
    color: black !important;
}

/*--------------------------------------------------------------------- Cards */

/* featured products hover zoom */

#featured-products .zoomer .image-box {
    overflow: hidden;
}

#featured-products .zoomer .image-box img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

#featured-products .zoomer .image-box img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#featured-products .zoomer:hover img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.add-to-cart {
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
    -o-transform: translate(0px, 70px);
    -ms-transform: translate(0px, 70px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart .atc {
    font-size: 10px;
    color: #fff;
    position: relative;
    margin: 0 auto;
}

.card:hover .add-to-cart {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
}

.icon {
    max-width: 30px;
    opacity: .6;
}

.icon:hover {
    opacity: 1;
}

.cart-icon {
    cursor: cell;
}

.border-r-1 {
    border-right: 2px solid white;
}

/*--------------------------------------------------------------------- Footer */



/*--------------------------------------------------------------------- Forms */



/*--------------------------------------------------------------------- Media Queries */

@media screen and (max-width: 1200px) {
    .l-space {
        letter-spacing: 1px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 60%;
    }
}

@media screen and (max-width: 990px) {
    #hero {
        border-left: 25px solid white;
        border-right: 25px solid white;
        height: 300px;
        background-position: bottom;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 768px) {
    .header-container {
        padding-top: 108px;
    }
}

@media screen and (max-width: 768px) {
    #hero {
        border-left: 15px solid white;
        border-right: 15px solid white;
        height: 300px;
        background-position: bottom;
    }
    
    #search-modal .display-3 {
        font-size: 3em;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .header-container {
        padding-top: 76px;
    }
}