<footer>
    <hr>
    <div class="container-fluid">
        <div class="row pt-4 pb-5">
            <div class="col-12 text-center d-none d-sm-block">
                <h3 class="d-inline px-4 lead"><a href="https://www.facebook.com/">Facebook</a></h3>
                <h3 class="d-inline px-4 lead"><a href="https://www.instagram.com/">Instagram</a></h3>
                <h3 class="d-inline px-4 lead"><a href="https://www.twitter.com/">Twitter</a></h3>
                <h3 class="d-inline px-4 lead"><a href="https://www.youtube.com/">Youtube</a></h3>
            </div>
            <div class="col-12 text-center d-block d-sm-none">
                <a href="https://www.facebook.com/"><i class="d-inline px-4 lead fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="d-inline px-4 lead fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/"><i class="d-inline px-4 lead fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/"><i class="d-inline px-4 lead fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="row py-3 bg-light d-flex align-items-center">
            <div class="col-12 col-sm-6 text-center text-sm-left">
                <h6 class="px-4 d-none d-lg-inline"> &copy; CULTure 2020</h6>
                <h6 class="d-inline px-2 px-lg-3"><a href="#">Policy</a></h6>
                <h6 class="d-inline px-2 px-lg-3"><a href="#">Terms</a></h6>
                <h6 class="d-inline px-2 px-lg-3"><a href="#">FAQ</a></h6>
                <h6 class="d-inline px-2 px-lg-3"><a href="#">Support</a></h6>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-right pt-4 pt-sm-0 pr-0 pr-sm-5">
                <img class="credit-cards img-fluid" src="/media/credit-cards.png" alt="Credit card logo images">
            </div>
            <div class="col-12 d-block d-lg-none text-center pt-4"> &copy; CULTure 2020</div>
        </div>
    </div>
</footer>