<section class="container">
    <div class="row text-center mt-5">
        <div class="col-12 col-sm-4 mb-5 px-4">
            <img class="pb-4" src="/media/free-shipping.svg" alt="Free Shipping icon" />
            <h4 class="font-weight-bold pb-3">Free Shipping*</h4>
            <p class="d-none d-md-flex">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-12 col-sm-4 mb-5 px-4">
            <img class="pb-4" src="/media/free-returns.svg" alt="Free Shipping icon" />
            <h4 class="font-weight-bold pb-3">Free Returns*</h4>
            <p class="d-none d-md-flex">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-12 col-sm-4 mb-5 px-4">
            <img class="pb-4" src="/media/24h-support.svg" alt="Free Shipping icon" />
            <h4 class="font-weight-bold pb-3">24hr Support</h4>
            <p class="d-none d-md-flex">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
</section>