<!-- bumper -->
<div id="bumpber" class="d-none d-sm-block bg-black pb-1 fixed-top text-white px-3 px-md-4 px-lg-5">
    <div class="text-center">
        <div class="row px-0 px-lg-3">
            <div class="col-12">
                <span class="px-4"><span class="font-weight-bold">FREE DELIVERY |</span> WHEN YOU SPEND €{{free_delivery_threshold}}+</span>
                <span class="px-4"><span class="font-weight-bold">FREE DELIVERY |</span> WHEN YOU SPEND €{{free_delivery_threshold}}+</span>
                <span class="px-4"><span class="font-weight-bold">FREE DELIVERY |</span> WHEN YOU SPEND €{{free_delivery_threshold}}+</span>
                <span class="px-4"><span class="font-weight-bold">FREE DELIVERY |</span> WHEN YOU SPEND €{{free_delivery_threshold}}+</span>
                <span class="d-none d-md-inline px-4"><span class="font-weight-bold">FREE DELIVERY |</span> WHEN YOU SPEND €{{free_delivery_threshold}}+</span>
                <span class="d-none d-md-inline px-4"><span class="font-weight-bold">FREE DELIVERY |</span> WHEN YOU SPEND €{{free_delivery_threshold}}+</span>
                <span class="d-none d-md-inline px-4"><span class="font-weight-bold">FREE DELIVERY |</span> WHEN YOU SPEND €{{free_delivery_threshold}}+</span>
            </div>
        </div>
    </div>
</div>

<!-- nav -->
<nav class="navbar navbar-expand-md navbar-light l-space fixed-top mt-0 mt-sm-4 py-1 py-sm-3">
    <div class="container-fluid px-0 px-lg-5">
        <a class="navbar-brand d-md-none m-0" href="{% url 'home' %}"><img class="logo-mobile" src="/media/culture.svg"
                alt="Culture brand logo"></a>
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
            <ul class="navbar-nav pr-0 text-right text-sm-left pl-0">
                <li class="nav-item p-0 dropdown dropdown-hover position-static text-right text-md-left">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">
                        <span class="py-5">Shop</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-full p-0 rounded-0 border-0 mt-0" role="menu">
                        <div class="container p-0">
                            <div class="row w-100">
                                <h6
                                    class="col-12 font-weight-bold text-right text-sm-center d-block d-md-none text-uppercase py-2 pr-0 m-0 letter-space text-black">
                                    <a href="{% url 'products' %}">
                                        <p>All Products</p>
                                    </a>
                                </h6>
                                <div class="col-12 col-sm-6 col-lg-3 my-2 mt-md-5 text-right text-sm-center text-lg-left pr-0">
                                    <h6 class="font-weight-bold text-uppercase">
                                        <a href="{% url 'products' %}?category=m_tees,m_tops,m_bottoms,m_footwear,m_accessories" class="">MENS</a>
                                    </h6>
                                    <ul class="list-unstyled p-0">
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=m_tees" class="nav-link text-small pl-0">Tees</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=m_tops" class="nav-link text-small pl-0 ">Tops</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=m_bottoms" class="nav-link text-small pl-0 ">Bottoms</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=m_footwear" class="nav-link text-small pl-0 ">Footwear</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=m_accessories" class="nav-link text-small pl-0">Accessories</a>
                                        </li>
                                    </ul>
                                </div>
                                <div
                                    class="col-12 col-sm-6 col-lg-3 my-2 mt-md-5 text-right text-sm-center text-lg-left pr-0">
                                    <h6 class="font-weight-bold text-uppercase">
                                        <a href="{% url 'products' %}?category=w_tees,w_tops,w_bottoms,w_footwear,w_accessories" class="">WOMENS</a>
                                    </h6>
                                    <ul class="list-unstyled p-0">
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=w_tees" class="nav-link text-small pl-0">Tees</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=w_tops" class="nav-link text-small pl-0 ">Tops</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=w_bottoms" class="nav-link text-small pl-0 ">Bottoms</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=w_footwear" class="nav-link text-small pl-0 ">Footwear</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'products' %}?category=w_accessories" class="nav-link text-small pl-0">Accessories</a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="mega-menu-image" class="col-12 col-lg-6 px-0 d-none d-lg-block">
                                    <a href="{% url 'products' %}" class="features-title">Shop Collection</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="all-products scroll-left bg-black col-12 d-none d-md-flex text-right text-sm-center text-uppercase py-3 pr-0 m-0 letter-space">
                            <a href="{% url 'products' %}">
                                <p class="letter-space"><span class="pr-3">All Products</span><span class="px-3">> > ></span>
                                    <span class="pr-3">All Products</span><span class="px-3">> > ></span>
                                    <span class="pr-3">All Products</span><span class="px-3">> > ></span>
                                    <span class="pr-3">All Products</span><span class="px-3">> > ></span>
                                    <span class="pr-3">All Products</span><span class="px-3">> > ></span>
                                    <span class="pr-3">All Products</span><span class="px-3">> > ></span>
                                    <span class="pr-3">All Products</span><span class="px-3">> > ></span>
                                </p>
                            </a>
                        </h4>
                    </div>
                </li>
                <li class="nav-item text-right text-md-left">
                    <a class="nav-link" href="{% url 'blog' %}">Spotlight</a>
                </li>
                <li class="nav-item text-right text-md-left">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>

            <a class="navbar-brand d-none d-md-block mx-auto blur" href="{% url 'home' %}"><img class="py-0 py-sm-2"
                    src="/media/culture.svg" alt="Culture brand logo">
            </a>

            <ul class="navbar-nav text-right pl-5">
                <li class="nav-item border-none border-sm-right">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#search-modal">
                        <i class="lni lni-search-alt"></i>
                        <span class="d-inline d-md-none d-lg-inline">Search</span></a>
                </li>
                <li class="nav-item border-none border-sm-right dropdown">
                    <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="text-right">
                            <i class="lni lni-user"></i>
                            <span class="d-inline d-md-none d-lg-inline">Account</span>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0 rounded-0 w-100 text-right" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item border-none border-sm-right">
                    <a class="nav-link" href="{% url 'view_bag' %}">
                        {% if grand_total %}
                            <i class="lni lni-cart-full text-khaki"></i>
                            <span class="d-inline d-md-none d-lg-inline">
                            <em class="text-khaki">€{{ grand_total|floatformat:2 }}</em>
                            {% else %}
                            <i class="lni lni-cart"></i>
                            Cart
                            {% endif %}
                        </span>
                    </a>
                </li>
                <div class="col d-flex d-md-none p-0">
                    <ul class="navbar-nav p-0">
                        <li class="nav-item text-right">
                            <a class="nav-link m-0" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item text-right text-md-left">
                            <a class="nav-link m-0" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<!-- Search Modal -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal" aria-hidden="true">
    <div class="modal-dialog border-0 modal-dialog-centered modal-xl rounded-0" role="document">
        <div class="modal-content rounded-0 border-0 bg-transparent">
            <div class="modal-body m-0 m-sm-5">
                <h1 class="display-3 text-center mb-3">I'm looking for...</h1>
                <form method="GET" action="{% url 'products' %}" class="search-form">
                    <div class="input-group col-12 pt-5 pb-4">
                        <input class="form-control border-top-0 border-right-0 border-left-0 rounded-0 py-4" type="text" autofocus
                            name="q" placeholder="Search here" aria-label="Search" >
                    </div>
                    <div class="col-12 mh-25 text-center">
                        <button type="submit" class="btn button-black h-100 text-uppercase">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>