{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Product Details -->
<div class="container-fluid">
    <div class="row">
        <div class="d-none d-lg-flex col-lg-0 col-xl-7 position-fixed pb-5 bg-black z--9000 pl-0">
            <div class="image-container my-5 p-0">
                {% if post.image_url %}
                        <img class="img-fluid rounded-0" src="{% firstof post.image post.image_url %}" alt="{{ post.name }}">
                    {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        
        <div class="col-12 col-md-12 col-lg-12 offset-xl-6 col-xl-6 bg-black px-3 px-sm-5 pb-5">
            <div class="mt-md-5 pt-5">
                <img class="img-fluid px-0 py-3 text-center card-img-top rounded-0 blog-header mb-5" src="{% firstof post.image post.image_url %}" alt="{{ post.name }}">
                <h1 class="text-white">{{ post.title }}</h1>
                <p class="mt-3 text-accent text-muted mb-5">Published: {{ post.date_added|date:'d M Y' }}</p>
                <h3 class="product-page-price text-left text-khaki border-left pl-4">{{ post.intro }}</h3>
                <p class="mt-5 text-main text-white letter-space">{{ post.body|linebreaksbr }}</p>
                <p class="text-center text-uppercase letter-space-animate mt-5">
                    <a href="{% url 'blog' %}" class="text-khaki">
                        <i class="lni lni-arrow-left"></i>
                        All Posts
                    </a>
                </p>    
            </div>
        </div>
    </div>
</div>

{% endblock %}
