{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Spotlight{% endblock %}

{% block page_header %}
{% include 'includes/loader.html' %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Products -->
<div class="container-fluid mt-4">
    <div class="row">
        <div id="category-header" class="col text-center py-5">
            <h1 class="pt-5 pb-1 letter-space text-white">The Spotlight</h1>
        </div>
    </div>
    <div id="featured-products" class="col-10 offset-1 p-0">  
        <div class="card-deck py-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
            {% for post in posts %}
            <div class="mb-4 zoomer">
                <div class="card image-box rounded-0 border-0">
                    <p class="text-white text-accent z-999 rotate-90 position-absolute pt-5 px-3 pb-2 bg-black bottom-0 float-right">{{ post.date_added|date:'d M Y' }}</p>
                    <a href="{% url 'blog_detail' post.slug%}">
                        <img src="{{ post.image_url }}" class="card-img-top rounded-0" alt="{{ post.title }}">
                        <div class="add-to-cart text-center">
                            <div class="atc col-12">
                                <a href="{% url 'blog_detail' post.slug%}">
                                    <h3 class="letter-space pt-1 text-white text-center"><small>Read More</small></h3>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-body px-0 px-sm-3">
                    <a href="{% url 'blog_detail' post.slug%}">
                        <h3 class="text-main">{{ post.title }}</h3>
                    </a>
                    <p class="card-text text-muted lead letter-space">{{ post.intro|truncatechars:100 }}</p>
                </div>
                <hr class="mx-3">
            </div>
            {% endfor %}
        </div>
    </div> 
</div>
<div class="btt-button shadow-sm">
    <a class="btt-link d-flex h-100">
        <i class="lni lni-angle-double-up text-white mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block subscribe %}
    {% include 'subscribe/subscribe.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
    <script src="{% static 'js/loader.js' %}"></script>
{% endblock %}