{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h2 class="mt-5 pt-5 mb-3">{% trans "Sign Up" %}</h2>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn button-black w-100 mb-2">{% trans "Sign Up" %}</button>
  <a class="btn button-black-border rounded-0 w-100 mb-3" href="{% url 'account_login' %}">Back to Login</a>
</form>

{% endblock %}
