{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="keywords" content="Culture, About, Mission, Story, Background">
    <meta name="description" content="Find out all about how Culture got off the ground, the journey to our success and where we are going.">
{% endblock %}

{% block extra_title %}| About Us{% endblock %}

<!-- Header container and preloader -->
{% block page_header %}
{% include 'includes/loader.html' %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Subscribe section -->
{% block subscribe %}
    {% include 'subscribe/subscribe.html' %}
{% endblock %}

{% block content %}

<!-- Hero -->
<div id="about-hero" class="container-fluid text-center">
    <div class="row mh-25">
        <div class="col-12 mh-25 z-999">
            <h1 class="d-flex text-white hero-text h-100 text-uppercase z-999">On A Mission</h1>
            <h4 class="text-accent text-white d-none d-sm-block text-uppercase letter-space">Past | Present | Future</h4>
            <img class="spin d-none d-sm-flex img-fluid" src="{% static 'images/since-2020.svg' %}" alt="Since 2020 image">
        </div>
    </div>
</div>

<div class="container-fluid bg-black bg-white-black-gradient">
    <!-- About -->
    <div class="container py-5 mt-5 z-999">
        <div class="row">
            <div class="col-12 text-center z-999">
                <h3 class="text-accent">Here at culture, we believe in sustainability and teamwork. This is why we mad this journey together and why we want to pursue a better, more sustainable fashion scene for the future.</h3>
            </div>
        </div>
    </div>
    
    <!-- Background info section -->
    <div class="container-fluid mt-4 mb-5 pb-5">
        <div id="product-detail-container" class="row px-0">
            <div class="col-12 col-md-6 col-xl-5 offset-xl-1 pl-sm-3 pl-xl-5">
                <div class="my-5 pl-md-4 pl-lg-5 pl-xl-4">
                    <img class="img-fluid rounded-0" src="{% static 'images/about-section.jpg' %}"
                        alt="ali-pazani-fCe-52iIZIM-unsplash">
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-5 pr-sm-0 pr-xl-5">
                <div class="mb-5 mt-md-5 pr-sm-0 pr-md-3 pr-xl-4">
                    <h2 class="display-4">Zero-Waste Design</h2>
                    <p class="letter-space">
                        Zero-waste design is a concept that, although has been prevalent for many years, is increasingly being integrated into production. Zero-waste design is used through multiple industries but is very applicable in developing patterns for garments.
                        That said, some comparison websites (such as Rank A Brand, Good On You, ...) exist which compare fashion brands on their sustainability record, and these can at least give an indication to consumers.
                    </p> 
                    
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-5 offset-xl-1 pl-sm-3 pl-xl-5">
                <div class="my-5 pl-md-4 pl-lg-5 pl-xl-4">
                    <h2 class="display-4">Forget Fast Fashion</h2>
                    <p class="letter-space">
                        A question at the foundation of sustainable fashion concerns exactly what is to be "sustained" of the current model of fashion. Controversies thus emerge what stakeholder agendas should be prioritized over others. There is also the associated concern of how to curb the practice of greenwashing on one hand, ad also ensure that firms that promote such practices are subject to increased scrutiny and criticism on the other.
                    </p> 
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-5 pr-sm-0 pr-xl-5">
                <div class="mb-5 mt-md-5 pr-sm-0 pr-md-3 pr-xl-4">
                    <img class="img-fluid rounded-0" src="{% static 'images/about-section-2.jpg' %}"
                    alt="ali-pazani-fCe-52iIZIM-unsplash">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/typing_text.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>

    <!-- Rotate on scroll: https://codepen.io/chriscoyier/pen/mdVWgdN -->
    <script type="text/javascript">
        window.addEventListener(
        "scroll",
        () => {
            document.body.style.setProperty(
            "--scroll",
            window.pageYOffset / (document.body.offsetHeight - window.innerHeight)
            );
        },
        false
        );
    </script>
{% endblock %}