{% extends "base.html" %}
{% load static %}

{% block extra_title %}| FAQ{% endblock %}

{% block page_header %}
{% include 'includes/loader.html' %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- FAQ -->
<div class="container-fluid mt-4 mb-5 pb-5">
    <div id="product-detail-container" class="row px-0">
        <div class="col-12 col-md-6 col-xl-5 offset-xl-1 pl-sm-3 pl-xl-5">
            <div class="my-5 pl-md-4 pl-lg-5 pl-xl-4">
                <img class="card-img-top img-fluid zoomer rounded-0" src="{% static 'images/faq-image.jpg' %}"
                    alt="ali-pazani-fCe-52iIZIM-unsplash">
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-5 pr-sm-0 pr-xl-5">
            <div class="mb-5 mt-md-5 pr-sm-0 pr-md-3 pr-xl-4">
                    <div class="col-12 border-0">
                        <h1 class="pl-3 mt-5">F.A.Q.</h1>
                        <!-- FAQ Accordion -->
                        <div id="faq-accordion" class="accordion border-0">

                            <!-- FAQ item 1 -->
                            <div class="card border-0 my-3">
                                <div id="headingOne" class="card-header bg-white border-0">
                                    <h3 class="mb-0 font-weight-bold">
                                        <a href="#" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                            class="d-block position-relative lead letter-space font-weight-bold text-black text-uppercase collapsible-link py-2">
                                                What are the recommended wash and care instructions?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseOne" aria-labelledby="headingOne" data-parent="#faq-accordion"
                                    class="collapse show">
                                    <div class="card-body p-5">
                                        <ul class="list-unstyled">
                                            <li class="lead pt-2">
                                            For longer lasting stretch, hold and colour wash your items in a low temperature wash and spin cycle. This reduces the amount of energy used which benefits our environment.
                                            </li>
                                            <li class="lead pt-2">— Machine wash at max. 30ºC/86ºF with short spin cycle</li>
                                            <li class="lead pt-2">— Iron at a maximum of 110ºC/230ºF</li>
                                            <li class="lead pt-2">— Do not dry clean</li>
                                            <li class="lead pt-2">— Do not tumble dry</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- FAQ item 2 -->
                            <div class="card border-0 my-3">
                                <div id="headingTwo" class="card-header bg-white border-0">
                                    <h3 class="mb-0 font-weight-bold">
                                        <a href="#" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                            class="d-block position-relative lead letter-space font-weight-bold text-black text-uppercase collapsible-link py-2">
                                                How much does deliery cost?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faq-accordion"
                                    class="collapse">
                                    <div class="card-body p-5">
                                        <p class="lead pt-2">
                                            We privide free delivery for all orders over €60. Order before 3pm to receive next day delivery.
                                        </p>
                                        <ul class="list-unstyled">
                                            <li class="lead list-unstyled letter-space pb-3"><span class="font-weight-bold">IRELAND: </span>1 - 2 days | Delivery: €6</li>
                                            <li class="lead list-unstyled letter-space pb-3"><span class="font-weight-bold">Northern Ireland & UK: </span>2 - 3 days | Delivery: €8</li>
                                            <li class="lead list-unstyled letter-space pb-3"><span class="font-weight-bold">Europe: </span>4 - 6 days | Delivery: €12</li>
                                            <li class="lead list-unstyled letter-space pb-3"><span class="font-weight-bold">USA: </span>14 days | Delivery: €24</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- FAQ item 3 -->
                            <div class="card border-0 my-3">
                                <div id="headingThree" class="card-header bg-white border-0">
                                    <h3 class="mb-0 font-weight-bold">
                                        <a href="#" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                                            class="d-block position-relative lead letter-space font-weight-bold text-black text-uppercase collapsible-link py-2">
                                                How do I return an item?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseThree" aria-labelledby="headingThree" data-parent="#faq-accordion"
                                    class="collapse">
                                    <div class="card-body p-5">
                                        <p class="lead pt-2">
                                            You have 30 days from the date of your order to return your purchase from Culture free of charge. The items must be in the original packaging and condition.
                                        </p>
                                        <ul>
                                            <li class="lead pt-2">— If you no longer have the original packaging, you can return your order in alternative packaging, once it is sealed correctly.</li>
                                            <li class="lead pt-2">— If you wish to modify or cancel your return request, please contact us so that we can process it.</li>
                                            <li class="lead pt-2">— The return address must be clearly labelled on the packaging</li>
                                            <li class="lead pt-4 list-unstyled letter-space pb-3"><span class="font-weight-bold">RETURN ADDRESS: </span>Culture, UNit 11, Grafton Street, Dublin 2</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- FAQ item 4 -->
                            <div class="card border-0 my-3">
                                <div id="headingFour" class="card-header bg-white border-0">
                                    <h3 class="mb-0 font-weight-bold">
                                        <a href="#" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"
                                            class="d-block position-relative lead letter-space font-weight-bold text-black text-uppercase collapsible-link py-2">
                                                Can I cancel my order?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseFour" aria-labelledby="headingFour" data-parent="#faq-accordion"
                                    class="collapse">
                                    <div class="card-body p-5">
                                        <p class="lead pt-2">
                                            Yes, of course. Provided that the product has not yet been dispatched. Once dispatched we cannot rediect the order. You will have to return the item as outlined. You can request cancellation by using the contact form or by phoning the Customer Service department: 1800 123 456.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- FAQ item 5 -->
                            <div class="card border-0 my-3">
                                <div id="headingFive" class="card-header bg-white border-0">
                                    <h3 class="mb-0 font-weight-bold">
                                        <a href="#" data-toggle="collapse"
                                            data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive"
                                            class="d-block position-relative lead letter-space font-weight-bold text-black text-uppercase collapsible-link py-2">
                                                My item arrived damaged. What happens now?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseFive" aria-labelledby="headingFive" data-parent="#faq-accordion"
                                    class="collapse">
                                    <div class="card-body p-5">
                                        <p class="lead pt-2">
                                            The damaged item will be replaced as soon as possible. Please use our contact form or call our free Customer Service line at 1800 123 456 to request a replacement.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- FAQ item 6 -->
                            <div class="card border-0 my-3">
                                <div id="headingSix" class="card-header bg-white border-0">
                                    <h3 class="mb-0 font-weight-bold">
                                        <a href="#" data-toggle="collapse"
                                            data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix"
                                            class="d-block position-relative lead letter-space font-weight-bold text-black text-uppercase collapsible-link py-2">
                                                What is the Culture Privacy Policy?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseSix" aria-labelledby="headingSix" data-parent="#faq-accordion"
                                    class="collapse">
                                    <div class="card-body p-5">
                                        <p class="lead pt-2">
                                            Our full privacy policy can be read here: <a href="{% url 'privacy_policy' %}" class="font-weight-bold letter-space-animate">Privacy Policy</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block iconinfo %}
{% include 'includes/icon-info.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/loader.js' %}"></script>
{% endblock %}