{% extends "base.html" %}
{% load static %}

{% block extra_title %}| 400 Bad Request{% endblock %}

<!-- Header container and preloader -->
{% block page_header %}
{% include 'includes/loader.html' %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Error 400 -->
{% block content %}

<div id="error-hero" class="container-fluid text-center">
    <div class="row mh-25">
        <div class="col-12 mh-25">
            <h1 class="hero-text text-white font-weight-bold">400</h1>
            <h2 class="hero-text text-white">Bad Request</h2>
            <h3 class="text-white text-accent pb-3">Can't find what you're looking for?</h3>
            <div class="col-12 mh-25">
                <a href="{% url 'products' %}" class="btn button-white text-uppercase">Back to shop</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Remove Footer -->
{% block footer %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/loader.js' %}"></script>
{% endblock %}