{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="keywords" content="Contact, Culture, Enquire">
    <meta name="description" content="If you have any questions or want to find out more, we would love to hear from you.">
{% endblock %}

<!-- Header Container -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Contact -->
{% block content %}
<div class="container-fluid mb-2 py-4">
    
    <!-- Category/page header -->
    <div class="row">
        <div id="category-header" class="col text-center py-5">
            <h1 class="pt-5 pb-1 letter-space text-white">Contact Us</h1>
            <p class="text-white text-uppercase letter-space">We're here to help</p>
        </div>
    </div>

    <!-- Contact form -->
    <div class="container-fluid mt-4 mb-5 pb-5">
        <div id="product-detail-container" class="row px-0">
            <div class="col-12 col-md-6 col-xl-5 offset-xl-1 pl-sm-3 pl-xl-5">
                <div class="image-container my-5 pl-md-4 pl-lg-5 pl-xl-5 h-100">
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-5 pr-sm-0 pr-xl-5">
                <div class="mb-5 mt-md-5 pr-sm-0 pr-md-1 pr-xl-4">
                    <h2 class="text-left pt-0 pt-md-5 mb-4">Get In Touch</h2>
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                        {% else %}
                            <input type="hidden" name="user_id" value="0">
                        {% endif %}
                            <div class="form-group mt-3">
                                {{ form|crispy }}
                            </div>
                        <input type="submit" value="Send" class="btn button-black contact-submit mt-2 w-50">
                    </form>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Contact feature buttons -->
    <div class="container px-0 mt-4 mb-5 pb-5">
        <div class="row my-5">
            <div class="card border-0 rounded-0 col-12 col-lg-4 my-2">
                <div class="col-12 button-black-border p-5 text-center">
                    <a href="https://goo.gl/maps/H4RaVt1tLWfa3sKW8" target="_blank" class="text-dark">
                        <p><small class="text-muted letter-space text-uppercase">ADDRESS</small></p>
                        <h3 class="hover-white">Unit 11 Grafton St.,<br>Dublin</h3>
                    </a>
                </div>
            </div>
            <div class="card border-0 rounded-0 col-12 col-lg-4 my-2">
                <div class="col-12 button-black-border p-5 text-center">
                    <a href="tel:003531234567" class="text-dark">
                        <p><small class="text-muted letter-space text-uppercase">Contact Number</small></p>
                        <h3 class="hover-white">INT:<br>+353 1 23 4567</h3>
                    </a>
                </div>
            </div>
            <div class="card border-0 rounded-0 col-12 col-lg-4 my-2">
                <div class="col-12 button-black-border p-5 text-center">
                    <a href="{% url 'faq' %}" class="text-dark">
                        <p><small class="text-muted letter-space text-uppercase">FREQUENTLY ASKED QUESTIONS</small></p>
                        <h3 class="text-uppercase hover-white">Check the<br>List</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Info icon section -->
{% block iconinfo %}
    {% include 'includes/icon-info.html' %}
{% endblock %}