{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Edit Product{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mb-2 py-4">

    <!-- Category/page header -->
    <div class="row">
        <div id="category-header" class="col text-center py-5">
            <h1 class="pt-5 pb-1 letter-space text-white">Product Management</h1>
            <p class="text-white text-uppercase letter-space">Edit {{ item.product.name }}</p>
        </div>
    </div>

    <!-- Product info form -->
    <div class="row mt-5">
        <div class="col-10 offset-1">
            <div class="row mt-5">
                <div class="col-12 col-xl-8 offset-xl-2 mb-5 px-5 py-4 shadow">
                    <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="my-3">
                            <button class="btn button-black rounded-0 w-100 mb-2" type="submit">Update Product</button>
                            <a class="btn mt-2 mb-3 w-100 button-delete-border" data-toggle="modal" data-target="#deleteProduct">Delete Product</a>
                            <a class="btn button-black rounded-0 w-100" href="{% url 'products' %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog" aria-labelledby="deleteProfile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content p-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <p class="font-weight-semi text-danger text-center">Deleting: {{ product.name }}</p>
                        <h2 class="font-weight-semi text-center">Are you sure?</h2>
                        <h5 class="text-center pb-3 text-muted">You will not be able to undo this action.
                        </h5>
                        <div class="d-flex col-12 justify-content-center">
                            <a href="{% url 'delete_product' product.id %}"
                                class="edit-delete-btn h5 font-weight-semi rounded-pill px-4 pt-2">
                                <i class="far fa-trash-alt pr-2"></i>Yes, I'm sure
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}