{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Shop{% endblock %}

<!-- Header container -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
    
    <!-- Category/page header with category tags -->
    <div class="row">
        <div id="category-header" class="col text-center py-5">
            <h1 class="letter-space"><a class="{% if search_term or current_categories or current_sorting != 'None_None' %} text-white {% else %} text-khaki {% endif %} letter-space-animate" href="{% url 'products' %}">All Products</a></h1> 
            <h3>
                <a href="{% url 'products' %}?category=m_tees,m_tops,m_bottoms,m_footwear,m_accessories" class="pl-2 pr-2 pr-sm-5 text-white {% for c in current_categories %} {% if 'm_' in c.name %} text-khaki {% endif %} {% endfor %} letter-space-animate">Mens</a>
                <span class="text-muted pl-3 pr-2">|</span>
                <a href="{% url 'products' %}?category=w_tees,w_tops,w_bottoms,w_footwear,w_accessories" class="pl-2 pl-sm-5 text-white {% for c in current_categories %} {% if 'w_' in c.name %} text-khaki {% endif %} {% endfor %} letter-space-animate">Womens</a>
            </h3>
            {% for c in current_categories %}
                {% if 'm_' in c.name %} 
                <a class="text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                    <span class="p-2 badge badge-white mb-1 text-white rounded-0 border border-dark">{{ c.friendly_name }}</span>
                </a>
                {% endif %}
            {% endfor %}
            {% for c in current_categories %}
                {% if 'w_' in c.name %}
                <a class="text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                    <span class="p-2 badge badge-white mb-1 text-white rounded-0 border border-dark">{{ c.friendly_name }}</span>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <!-- Products -->
    <div class="row">
        <div id="featured-products" class="col-10 offset-1 py-4">
            <div class="row mt-1 mb-2">
                
                <!-- Search results and product count -->
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                        {% endif %}
                        {{ products|length }} results {% if search_term %} for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>

                <!-- Sorting -->
                <div class="col-12 col-md-6 order-md-first d-flex justify-content-center justify-content-md-start mb-4 pr-0 pr-sm-5">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}black{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Search results -->
            {% if products|length == 0 %}
            <div class="text-center mt-5">
                <img src="{% static 'images/travolta.gif' %}" class="card-img-top col-8 col-sm-6 col-lg-4 col-xl-3 rounded-0 pl-5" alt="John Travolta Gif">
                <h2 class="display-4 mt-2 text-uppercase letter-space">Sorry</h2>
                {% if search_term %}
                    <h5>
                        {{ products|length }} results for <strong>"{{ search_term }}"</strong>
                    </h5>
                    <div class="text-center my-5">
                        <a href="{% url 'products' %}" class="btn button-black">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Back To Shop</span>
                        </a>
                        <span class="d-block d-md-inline px-2 my-2 text-uppercase">Or</span>
                        <a href="{% url 'products' %}" class="btn button-black-border" data-toggle="modal" data-target="#search-modal">
                            <span class="text-uppercase">Search Again</span>
                        </a>
                    </div>
                {% else %}
                <h4 class="text-center">No products available</h4>
                <a href="{% url 'products' %}" class="btn button-black-border my-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back To Shop</span>
                </a>
                {% endif %}
            </div>
            {% endif %}

            <!-- Product Cards -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                {% for product in products %}
                <div class="col mb-4 zoomer">
                    <div class="card image-box rounded-0 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top rounded-0" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top rounded-0" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="add-to-cart text-center">
                            <div class="atc col-12">
                                <a href="{% url 'product_detail' product.id %}">
                                    <h3 class="letter-space letter-space-animate pt-1 text-white text-center">VIEW</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 pt-3">
                        <a href="#">
                            <h4 class="product-title">{{ product.name }}</h4>
                        </a>
                        <h5 class="product-price d-inline-block">€{{ product.price }}</h5>
                        {% if request.user.is_superuser %}
                        <small class="text-uppercase float-right pb-0">
                            <a class="pr-3" href="{% url 'edit_product' product.id %}">Edit</a>
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Back to top button -->
<div class="btt-button shadow-sm">
    <a class="btt-link d-flex h-100">
        <i class="lni lni-angle-double-up text-white mx-auto my-auto"></i>
    </a>	
</div>

{% endblock %}

<!-- Icon info section -->
{% block iconinfo %}
    {% include 'includes/icon-info.html' %}
{% endblock %}

<!-- Subscribe section -->
{% block subscribe %}
    {% include 'subscribe/subscribe.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}